@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom,rgba(0, 133, 138, 0.568), rgba(0, 220, 228, 0.568));
    align-items: center;

}

h1 {
    font-family: "Permanent Marker";
    font-weight: 400;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 30px;
}

.page-title {
    margin-top: 15%;
    margin-bottom: 15%;
}

.body-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-family: Arial, sans-serif;
    height: 98%;
    width: 98%;

}

header, main {
    min-width: 300px;
    max-width: 500px;

}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;


    margin-top: 10px;
    width: 96%;
}

.bt-menu-header {
    font-family: "Permanent Marker";
    font-weight: 400;
    font-style: normal;
    color: black;
    background: linear-gradient(to bottom,rgba(123, 206, 209, 0.849),rgba(73, 201, 206, 0.568));
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100%;
    height: 40px;
    border-radius: 20px;
    text-decoration: none;
}

.bt-menu-header:hover {
    background: linear-gradient(to bottom,rgba(150, 251, 255, 0.849),rgba(90, 249, 255, 0.568));
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(to bottom,rgba(0, 61, 63, 0.568),rgba(0, 133, 138, 0.568));
    width: 100%;
    
}


.footer {
    background: linear-gradient(to bottom, rgba(23, 35, 36, 0.568), rgba(71, 71, 71, 0.568));
    margin: inherit;
    color: white;
    text-align: center;
    font-size: 10px;
    min-width: 50%;
    max-width: 60%;
    border-radius: 10px;
}

.bt-action-main {
    font-family: "Handjet";
    background-color: black;
    font-size: 1.5em;
    text-decoration: none;
    border-style: dashed;
    color: rgb(255, 196, 0);;
    border-color: rgb(252, 71, 0);
    border-width: 2px;
    margin-bottom: 5px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    height: 40px;
    font-size: 1.6em;
}

.bt-action-main:hover {
    background-color: rgb(32, 32, 32);
    cursor: pointer;
}

.bt-send-message {
    font-family: "Handjet";
    background-color: black;
    font-size: 1.5em;
    text-decoration: none;
    border-style: solid;
    color: rgb(255, 196, 0);;
    border-color: rgb(252, 71, 0);
    border-width: 1px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    width: 8%;
    aspect-ratio: 1 / 1;
    font-size: 1.6em;
}

.bt-send-message:hover {
    background-color: rgb(32, 32, 32);
    cursor: pointer;
}

.msg-screen {
    background-color: aliceblue;
    width: 95%;
    min-height: 65%;
    max-height: 30vh;
    border-color: rgba(0, 0, 0, 0.726);
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    margin-top: 2%;
    margin-bottom: 0px;
    padding: 8px;
    overflow: auto; 
}

#bt-copy {
    margin: 30px;
}

.send-bar {
    width: 92%;
    display: flex;
    flex-direction: line;
    border-color: rgba(0, 0, 0, 0.726);
    border-style: solid;
    border-width: 2px;    
    background-color: white;
    border-radius: 20px;
    padding: 6px;
}

.type-msg {
    width: 92%;
    border-style: none;
    font-size: 16px;
}

.type-msg:focus {
    outline: none;
}

.show-msg {
    vertical-align: bottom;
}

.msg-on-screen {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(192, 192, 46);
    border-radius: 15px;
    background-color: beige;
    width: fit-content;
    padding: 3px 8px 3px 8px;
    margin: 8px;
}

.msg-author {
    color: rgb(4, 77, 77);
    font-size: 1em;
    font-weight: 700;
}

.msg-body {
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: 700;
    text-align: left;
}