<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  user-scalable=no">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <title>ImplodeChat!</title>
</head>
<body>
    <div class="body-content">
        <main>
            <header class="header-chat">
                <button href="" class="bt-menu-header">NEW CHAT</button>
                <button href="" id="copy-link" class="bt-menu-header">COPY LINK</button>
                <button href="" id="delete-chat" class="bt-menu-header">DELETE CHAT</button>
            </header>
            <div type="text" class="msg-screen" id="all-messages" placeholder="you can adjust this display">
         
            </div>
            <div class="footer" id="status-connection">2024 - ti0aly - ImplodeChat</div>
            <div class="send-bar">
            <textarea class="type-msg" type="text" id="my-msg" placeholder='CLICK ON "COPY LINK" BUTTON' autofocus autocomplete="off" spellcheck="true"></textarea>
            <a type="button" class="bt-send-message" id="send-msg" >></a>
            </div>
        </main>

    </div>
    <script type="module" src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="../scripts/implodechat.js"></script>
    <script type="module" src="../scripts/implodebd.js"></script>

</body>
</html>